.work-img {
  border-radius: 14px;
  max-height: 300px;
}

.work-text {
  margin: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #696969;
}

/* PARENT: surrounds all cards & wrapper */
.work-container {
  display: flex;
  /* info will be up & down */
  flex-flow: column;
  /* everything will be aligned to center */
  align-items: center;
  /* center inside external space */
  margin: 0 auto;
  /* so they don't end up too wide */
  max-width: 1220px;
  width: 90%;
}

@media screen and (max-width: 1140px) {
  .work-img {
    max-height: 250px;
  }
  .work-top {
    text-align: center;
  }
  .work-bottom {
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .work-img {
    max-height: 220px;
  }
}
